@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --black-color: #131313;
    --green-color: #805c97;
    --text-color: #bbbbbb;
}

* {
    margin-top: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
    text-align: center;
    
}

body {
    letter-spacing: 1px;
    font-weight: 30px;
    background-color: black;
    align-items: center;
    vertical-align: middle;
    padding-left: 80px;
    margin: auto;
    width: 50%;


}

/*                             Header styling                  */

.first-div {
    max-width: 768px;
    position: relative;
    align-items: center;
}

.header-detail {
    text-align: center;
    align-items: center;
    margin: 0px;
}

.header-image {
    width: 130px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    text-align: center !important;
}

.header-name {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: calc(1.375rem);
    text-transform: uppercase;
    color: white;
}

.header-title {
    letter-spacing: 1px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    row-gap: 5px;
    column-gap: 7px;
    flex-wrap: wrap;
    background-color: transparent;
    color: #805c97;
    margin-bottom: 20x;

}

.first-titlee {

    font-weight: 300;
    font-size: 13px;
    align-items: center;

}

.first-titlee {

    color: #805c97;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #805c97;
    border-right-color: #805c97;
    border-bottom-color: #805c97;
    border-left-color: #805c97;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    vertical-align: middle;

}

.first-title {
    font-weight: 300;
    font-size: 13px;
    align-items: center;
    
}

.first-title {
    color: #805c97;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #805c97;
    border-right-color: #805c97;
    border-bottom-color: #805c97;
    border-left-color: #805c97;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    vertical-align: middle;
}

.second-title {
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

.second-title {
    color: #805c97;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #805c97;
    border-right-color: #805c97;
    border-bottom-color: #805c97;
    border-left-color: #805c97;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    vertical-align: middle;
}

/*                            Body Styling                          */

.body-div {
    
    row-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-left: 0px;
    width: 75%;
    float: right;
    
}

.body-div {
    row-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-left: 0px;
    width: 25%;
    float: left;


}

/* Github styling */

.github-container {

    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    height: 50px;
    width: 550px;
    background: #131313;
    border: 1px solid #131313;
    font-size: 15px;
    font-weight: 300;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;


}

.github-container:hover {
    background-color: #131313;
    border: 1px solid #805c97;
    cursor: pointer;
}

.github-container a {

    text-decoration: none;
    position: relative;
    color: #bbbbbb;
    text-align: center;
    padding-top: 16px;
    padding-right: 12px;
    letter-spacing: 1px;
    vertical-align: middle;

}

/* Website Styling */

.website-container {

    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    height: 50px;
    width: 550px;
    background: #131313;
    border: 1px solid #131313;
    font-size: 15px;
    font-weight: 300;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;


}

.website-container:hover {
    background-color: #131313;
    border: 1px solid #805c97;
    cursor: pointer;
}

.website-container a {

    text-decoration: none;
    position: relative;
    color: #bbbbbb;
    text-align: center;
    padding-top: 16px;
    padding-right: 12px;
    letter-spacing: 1px;
    vertical-align: middle;

}

/* Linkdin Styling */

.linkedin-container {

    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    height: 50px;
    width: 550px;
    background: #131313;
    border: 1px solid #131313;
    font-size: 15px;
    font-weight: 300;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;


}

.linkedin-container:hover {
    background-color: #131313;
    border: 1px solid #805c97;
    cursor: pointer;
}

.linkedin-container a {

    text-decoration: none;
    position: relative;
    color: #bbbbbb;
    text-align: center;
    padding-top: 16px;
    padding-right: 12px;
    letter-spacing: 1px;
    vertical-align: middle;

}

/* Instagram Styling */

.instagram-container {

    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    height: 50px;
    width: 550px;
    background: #131313;
    border: 1px solid #131313;
    font-size: 15px;
    font-weight: 300;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;


}

.instagram-container:hover {
    background-color: #131313;
    border: 1px solid #805c97;
    cursor: pointer;
}

.instagram-container a {

    text-decoration: none;
    position: relative;
    color: #bbbbbb;
    text-align: center;
    padding-top: 16px;
    padding-right: 12px;
    letter-spacing: 1px;
    vertical-align: middle;

}

/* Blog Posts Styling */

.blog-container {

    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    height: 50px;
    width: 550px;
    background: #131313;
    border: 1px solid #131313;
    font-size: 15px;
    font-weight: 300;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;


}

.blog-container:hover {
    background-color: #131313;
    border: 1px solid #805c97;
    cursor: pointer;
}

.blog-container a {

    text-decoration: none;
    position: relative;
    color: #bbbbbb;
    text-align: center;
    padding-top: 16px;
    padding-right: 12px;
    letter-spacing: 1px;
    vertical-align: middle;

}

